<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PawningSystem"
        tools:targetApi="31">
        <activity
            android:name=".UpdateCustomerSupport"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ViewCustomerSupport"
            android:exported="false">

        </activity>
        <activity
            android:name=".CreateCustomerSupport"
            android:exported="false"></activity>
        <activity
            android:name=".DeleteCashReturn"
            android:exported="false" />
        <activity
            android:name=".CashReturnUpdate"
            android:exported="false" />
        <activity
            android:name=".ViewCashReturn"
            android:exported="false" />
        <activity
            android:name=".CreateCashReturn"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".DeleteProfile"
            android:exported="false" />
        <activity
            android:name=".UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".ViewProfile"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Index"
            android:exported="false" />
        <activity
            android:name=".ActivityDashBoard"
            android:exported="false" />
        <activity
            android:name=".ActivityDeletePawnings"
            android:exported="false" />
        <activity
            android:name=".ActivityUpdatePawnings"
            android:exported="false" />
        <activity
            android:name=".ActivityCreatePawnings"
            android:exported="false" />
        <activity android:name=".ActivityViewPawnings" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>